QMainWindow {
    background-color: #676773;
}

QToolBar {
    background: #A1A1A1;
}

QToolBar::separator {
    background: qradialgradient(cx:0.5, cy:0.5, radius: 0.5, fx:0.5, fy:0.5, stop:0 DarkSlateGray, stop:1 Gray);
}

QToolButton {
    background: #B3B3B3;
    margin: 1px;
}

QFrame {
    background-color: #D3D3D3;
}

QSplitter::handle {
    background-color: #C0C0C0;
    border: 1px solid #000000;
}

QDockWidget {
    background-color: #676773;
}

QDockWidget QLabel {
    background-color: transparent;
}

QPushButton#undirectedEdgeButton:checked, QPushButton#directedEdgeButtonA:checked, QPushButton#directedEdgeButtonB:checked, QPushButton#conjunctionButtonA:checked, QPushButton#conjunctionButtonB:checked {
    border-style: inset;
    border-width: 0.2em;
    border-color: #000000;
}
